:root{
  --dark_shades: #231c3a;
  --dark_accent: #4c61b1;
  --main_colour: #5071a5;
  --light_accent:#6baae9;
  --white:#ebedf2;
}

*{
  margin: 0;
}

body{
  background-color: var(--white);
  color: var(--dark_shades);
  font-family: monospace, sans-serif;
}

h1{
  background-color: var(--main_colour);
  color: var(--white);
  text-align: center;
  padding: 25px 0;
  font-size: 40px;
}

#hangmanID{
  color: var(--white);
  font-size: 30px;
  background-color: var(--dark_accent);
  border-radius: 10px;
  margin-right: 250px;
  text-align: center;
}

#page-grid{
  display: grid;
  grid-template-columns: min-content min-content;
  width: min-content;
  margin: auto;
  padding-top: 100px;
}

.IO-grid{
  display: grid;
  grid-template-rows: min-content min-content min-content min-content;
  width: min-content;
  gap: 5rem;
}

#underlineArrID{
  color: var(--red);
  font-size: 30px;
  width: min-content;
  height: min-content;
}


#inputSectionID{
  align-items: center;
  width: 312px;
}

#userInputID{
  text-align: center;
  color: var(--white);
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: var(--main_colour);
  font-size: 25px;
  display: inline-block;
  vertical-align: middle;
}

#userInputID:hover{
  border: 3px solid var(--red);
}

#enterButtonID{
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  cursor: pointer;
  border: none;
  background-color: var(--light_accent);
  color: var(--dark_shades);
  border-radius: 4px;
}

#guessID{
  font-size: 30px;
}

#resetButtonID{
  background: rgb(75, 75, 75);
  color: rgb(122, 122, 122);
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
}