@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

:root{
    --background: #EDDDD4;
    --blue: #197278;
    --red: #c44536;
}

*{
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Titillium Web', sans-serif;
}

h1{
    width: 100vw;
    position: fixed;
    text-align: center;
    padding: 1rem;
    background-color: var(--red);
    color: white;
}

#stream{
    width: 100vw;
    max-width: 100%;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
}

body iframe{
    display: flex;
    height: 700px;
    width: 65vw;
    margin: auto;
    padding-top: 8rem;
}

#names{
    padding-top: 1rem;
    display: flex;
    width: 100vw;
    max-width: 100%;
    height: min-content;
}


ul{
    width: min-content; 
    background-color: var(--blue);
    color: white;  
    padding: 1rem 20px;
    display: flex;
    margin: auto;
}

li{
    font-size: 30px;
    list-style: none;
}

p{
    margin: 0 20px;
}